<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="/layout">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"	/>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='custom.css' rel='stylesheet' type='text/css'>
        
	</head>

	<body>
		<div class="container">
			<h1	layout:fragment="header">Uma página sobre vendas de livros</h1>
		</div>
		
		<div class="container">
			
			<div layout:fragment="content" class="container" style="margin: 10px">	
				<h1>Onde nos encontrar</h1>
				<div class="container">
            		<div class="row">
                		<div class="col-lg-8 col-lg-offset-2">    							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7427.70786406244!2d-41.6981158!3d-21.4349856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbc45f5c79dbbd1%3A0x5e5fc91d884ac858!2sS%C3%A3o+Caetano%2C+Italva+-+RJ%2C+28250-000!5e0!3m2!1spt-BR!2sbr!4v1530655867411" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  
                			
                		</div>
            		</div> 
        		</div> 
			</div>
		</div>	
	</body>
</html>
	