<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorate="/layout">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"	/>	
	</head>
	
	<section layout:fragment="header">

		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Lista de Editoras</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" method="POST" 
					th:object="${editora}" th:action="@{/editoras}"
						style="margin: 20px 0">
					<div class="form-group">
						<input type="hidden" th:field="*{id}">
						<input type="text" class="form-control" placeholder="Nome"
							th:field="*{nome}" />
						<input type="text" class="form-control" placeholder="Endereço"
							th:field="*{endereco}" /> 
						<button type="submit" class="btn btn-primary">Adicionar</button>
					</div>
				</form>
			
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>Endereço</th>
							<th colspan=2> Ação </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="editora : ${editoras}">
							<td th:text="${editora.id}"></td>
							<td th:text="${editora.nome}"></td>
							<td th:text="${editora.endereco}"></td>
							<td>
								<a th:href="@{/editoras/alterar/}+${editora.id}" class="glyphicon glyphicon-pencil"> Alterar</a></td>
							<td>
								<a th:href="@{/editoras/excluir/}+${editora.id}" class="glyphicon glyphicon-trash">Excluir </a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</section>
</html> 
